.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.loginContainer {
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border: 1px solid white;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 15px;
    padding: 7px 11px;
    border-radius: 3px;
    border: 1px solid white;
    background-color: white;
}

input[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}